{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block cover_img %}
  <div class="cover-img" style="background-image: url('/static/img/cover4.jpg'); background-position: center 25%;"></div>
{% endblock %}

{% block content %}
  <div class="blog-title">
    <h1>{{ post.title }}</h1>
    <span style="font-weight: 700"><i>{{ post.created_at.strftime('%B %-d, %Y') }}</i></span>
  </div>
  <p class="blog-font">{{ markup }}<p>
  <hr>
  <a id="comments"></a>
  <h2>Comments</h2>
  {% if post.comments %}
    {% for comment in post.comments %}
       <p>{{ comment.body }}</p>
       <p><small>By</small> <strong>{{ comment.author }}</strong> <small>on {{ post.created_at.strftime('%B %-d, %Y') }}</small></p>
      {{ comment.text }}
      <hr />
    {% endfor %}
  {% else %}
    <p>There are no comments yet</p>
  {% endif %}
  <hr>
  <h2>Add a comment</h2>
  <form action="." method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="Comment">
    </div>
  </form>
{% endblock %}
