<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Tumblelog</title>
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
    <style>
      .content {padding-top: 80px;}
      .mce-fullscreen .topbar {display:none;}
    </style>

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
      tinymce.init({
        selector:'textarea',
        plugins: "link, image, code, hr, fullscreen, visualblocks",
        image_advtab: true,
        extended_valid_elements : "more"
      });
    </script>

  </head>

  <body>
    {%- block topbar -%}
    <div class="topbar" data-dropdown="dropdown">
      <div class="fill">
        <div class="container">
          <h2>
               <a href="{{ url_for('admin.index') }}" class="brand">My Tumblelog Admin</a>
          </h2>
          <ul class="nav secondary-nav">
            <li class="menu">
               <a href="{{ url_for("admin.create") }}" class="btn primary">Create new post</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {%- endblock -%}
    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>