{% extends "base.html" %}

{% block cover_img %}
	<div class="cover-img" style="background-image: url('/static/img/cover1.jpg'); background-position: center 30%;"></div>
{% endblock %}

{% block content %}
<a name="softwareengineer" style="text-decoration:none;"><h3 class="muted">Software Engineer...</h3></a>
<p>
	Currently enrolled at the University of Minnesota’s College of Science and 
	Engineering, I’m completing a B.S. in computer science with an emphasis in 
	software and data systems development. I concentrate on robust web-based 
	applications and Internet enabled systems, but I also get a sick enjoyment
	out of systems administration. I’m employed with Nodus, Incorporated – 
	a Minneapolis based company specializing in Internet enabled systems, process, 
	and integrations. My position entails writing and maintaining custom web-based 
	applications built for clients to streamline their operations and consolidate 
	their efforts to reduce overhead and simplify complexities.
	<br />
	<a href="http://www.nodusinc.net">www.nodusinc.net</a>
</p>

<p>
	I also work as a network administrator at the University of Minnesota’s Muscle 
	Laboratory (Thomas Lab), a branch of the UofM Biochemistry department using 
	spectroscopic probes to study the role of protein structure and dynamics in 
	physiological processes. My duties include administration of the high traffic 
	network servers and deployment of specialized software for lab computers used 
	in experiments with magnetic resonance and optical spectroscopy.
	<br />
	<a href="http://biochem.umn.edu/CurrentPersonnel.html?user=cpa">View my profile at DDTLAB</a>
</p>

Programming and Markup Languages:
<ul>
	<li>Python</li>
	<li>PHP</li>
	<li>C</li>
	<li>C++</li>
	<li>HTML5</li>
	<li>CSS3</li>
	<li>JavaScript</li>
</ul>
Some Experience in:
<ul>
	<li>Java</li>
	<li>ASP.NET</li>
</ul>
Technologies/Frameworks used:
<ul>
	<li>Zend Framework</li>
	<li>Drupal 7</li>
	<li>CodeIgniter</li>
	<li>Flask</li>
	<li>Jinja2</li>
	<li>Xen Hypervisor</li>
</ul>
Extensive experience with Debian, Ubuntu, MacOSX, Windows and Windows Server operating systems.

<hr />

<a name="clarinetist" style="text-decoration:none;"><h3 class="muted">...and Clarinetist</h3></a>
From 2012:
<p>
	<div class="pull-left" style="margin-right: 10px; margin-bottom: 5px;">
		<img src="/static/img/9550SM.jpg" class="shadow" height="150" width="100" />
	</div>
	As a performer, orchestral clarinetist Chris Arcand has drawn acclaim for his 
	exuberant chamber performances and solo appearances featuring works of Bernstein, 
	Muczynski, Copland, Brahms, and others. He has performed in many ensembles and 
	events around the Twin Cities, including the Kenwood Symphony and numerous 
	organizations at Orchestra Hall in downtown Minneapolis. In 2006 and 2007, 
	Instrumentalist Magazine awarded Arcand their award for Outstanding Musicianship 
	in Minnesota. Performing at various festivals and clinics since 2005, he 
	has had the opportunity to collaborate with such composers as Frank Ticheli, Libby 
	Larsen, Alex Shapiro and Carter Pann. In 2007 he was named a Ferguson Scholar by 
	the University of Minnesota, School of Music.
</p>

<p>As an instructor, Arcand enjoys teaching a private studio of students not only about playing the clarinet up to a professional level but about Western music as a whole and its many facets beyond a single woodwind's point of view. An affilated faculty member at White Bear Lake High School, Arcand regularly holds master classes for clarinetists of White Bear Lake’s wind ensembles and is listed as a recommended instructor by the White Bear Band Boosters. He has also served as a faculty member of the David Thomas School of Music.</p>

<p>Originally from White Bear Lake, Minnesota, Arcand enrolled at the Rymer Hadley Academy Of Fine Arts playing the clarinet at age 9. He continued his studies with Richard Wyland, eventually deciding to audition to conservatories after high school. The distinguished Evergreen Club of Minneapolis awarded him a scholarship for the pursuit. Arcand earned his Bachelor of Music in Clarinet Performance from the University of Minnesota, where his principal teachers were Burt Hara, John Anderson and Craig Kirchoff. Using Buffett-Crampon clarinets, Mr. Arcand plays exclusively on Vandoren reeds. </p>

{% endblock %}