{% extends "base.html" %}

{% block content %}
<p>Currently enrolled at the University of Minnesota’s College of Science and 
Engineering, I’m completing a B.S. in computer science with an emphasis in 
software and data systems development. I concentrate on robust web-based 
applications and Internet enabled systems, but also have interest in a 
variety of other fields including network administration and database 
management.I’m employed with Nodus, Incorporated – a Minneapolis based 
company specializing in Internet enabled systems, process, and integrations. 
My position entails writing and maintaining custom web-based applications 
built for clients to streamline their operations and consolidate efforts 
to reduce overhead and additional complexities.</p>

www.nodusinc.net

<p>I also work as a network administrator at the University of Minnesota’s Muscle 
Laboratory (Thomas Lab), a branch of the UofM Biochemistry department using 
spectroscopic probes to study the role of protein structure and dynamics in 
physiological processes. My duties include administration of the high traffic 
network servers and deployment of specialized software for lab computers used 
in experiments with magnetic resonance and optical spectroscopy.</p>

View my profile at DDTLAB

Programming and Markup Languages:
Python, PHP, C, C++, HTML5, CSS3

Some experience in:
Javascript, Java, ASP.NET

Technologies/Frameworks used:
Zend Framework, Drupal 7, CodeIgniter
Flask, Jinja2
Xen Hypervisor

I use Debian, Ubuntu, MacOSX and Windows operating systems

<hr />

<p>As a performer, orchestral clarinetist Chris Arcand has drawn acclaim for his 
exuberant chamber performances and solo appearances featuring works of Bernstein, 
Muczynski, Copland, Brahms, and others. He has performed in many ensembles and 
events around the Twin Cities, including with the Kenwood Symphony and numerous 
organizations at Orchestra Hall in downtown Minneapolis. In 2006 and 2007, 
Instrumentalist Magazine awarded Arcand their award for Outstanding Musicianship 
in M-9550SMinnesota. Performing at various festivals and clinics since 2005, he 
has had the opportunity to collaborate with such composers as Frank Ticheli, Libby 
Larsen, Alex Shapiro and Carter Pann. In 2007 he was named a Ferguson Scholar by 
the University of Minnesota, School of Music.</p>

<p>As an instructor, Arcand enjoys teaching a private studio of students not only about playing the clarinet up to a professional level but about Western music as a whole – who wrote the music, and why did they write it? As an affilated faculty member at White Bear Lake High School, Arcand regularly holds master classes for clarinetists of White Bear Lake’s wind ensembles and is listed as a recommended instructor by the White Bear Band Boosters. He has also served as a faculty member of the David Thomas School of Music.</p>

<p>Originally from White Bear Lake, Minnesota, Arcand enrolled at the Rymer Hadley Academy Of Fine Arts playing the clarinet at age 9. He continued his studies with Richard Wyland, eventually deciding to audition to conservatories after high school. He was awarded a scholarship for the pursuit by the distinguished Evergreen Club of Minneapolis. Arcand earned his Bachelor of Music in Clarinet Performance from the University of Minnesota, where his principal teachers were Burt Hara (principal clarinet, Minnesota Orchestra), John Anderson and Craig Kirchoff. Using Buffett-Crampon clarinets, Mr. Arcand plays exclusively on Vandoren reeds.</p>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

{% endblock %}