{% extends "base.html" %}

{% block cover_img %}
	<div class="cover-img" style="background-image: url('/static/img/cover2.jpg');"></div>
{% endblock %}

{% block content %}
<!-- <h2 class="muted"><i>Hi. I'm Chris.</i></h2>
<p class="blog-font">
	I'm a <a href="/about#softwareengineer">software engineer</a> at <a href="http://www.sportngin.com" target="_blank">Sport Ngin</a> doing
  JavaScript development, especially with <a href="http://nodejs.org/" target="_blank">Node.js</a>.
  Some think I'm a decent <a href="/about#clarinetist">clarinetist</a>, too.
</p> -->

<div id="recent-posts-container" style="50%">
	<h4 style="margin-top:0px;" class="muted">{ Latest Posts }</h4>
    {% for post in posts %}
      <h4><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h4>
      {% if post.more %}
      <p>{{ post.more|striptags }} <br /><a href="{{ url_for('posts.detail', slug=post.slug) }}">...Read more</a></p>
      {% endif %}
      <p>
        {{ post.created_at.strftime('%B %-d, %Y') }} |
        {% with total=post.comments|length %}
            <a href="{{ url_for('posts.detail', slug=post.slug) }}#comments">{{ total }} comment {%- if total > 1 %}s {% elif total ==0 %}s {%- endif -%}</a>
        {% endwith %}
      </p>
      <hr />
    {% endfor %}
</div>

<a class="twitter-timeline"  href="https://twitter.com/chrisarcand"  data-widget-id="290924863433089024">Tweets by @chrisarcand</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="links-container-outer">
	<h4 style="margin=top:0px;" class="muted">{ Links }</h4>
	<p>
    Sport Ngin<br>
    <a href="http://www.sportngin.com" target="_blank">www.sportngin.com</a>
    <br><br>
		Nodus, Incorporated<br>
		<a href="http://www.nodusinc.net" target="_blank">www.nodusinc.net</a>
		<br><br>
		My friend and colleague Brady Ouren's personal website<br>
		<a href="http://www.brdyorn.com" target="_blank">www.brdyorn.com</a>
		<br><br>
		<a href="http://xkcd.com/979/" target="_blank">Something special</a>
	</p>
</div>


{% endblock %}
