<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Arcand | Software Engineer and Orchestral Clarinetist</title>
    <link href="/static/bootstrap2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/genericons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="/static/bootstrap2.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js"></script>
  </head>

  <body>
    <div id="site-wrapper">
      <div id="sidebar">
        <!--Sidebar content-->
        <div id="cover-img-row">
          {% block cover_img %}{% endblock %}
        </div>
        <div id="nav-container-row">
          <div id="nav-container">
            <span id="avatar-wrapper">
              <a href="/"><img src="/static/img/avatar4.jpg" id="avatar" /></a>
            </span>
            <h2 class="sidebar-title">Chris Arcand</h2>
            <p class="sidebar-tagline muted">Software Engineer &amp; Orchestral Clarinetist</p>
            <ul id="nav" class="nav">
              <li><a class="brackets" href="/">Home</a></li>
              <li><a class="brackets" href="/about">About Me</a></li>
              <li><a class="brackets" href="/blog">Blog</a></li>
              <li><a class="brackets" href="/projects">Projects</a></li>
              <li><a class="brackets" href="#resume-modal" data-toggle="modal">Resumé</a></li>
              <li><a class="brackets" href="/contact">Contact Me</a></li>
            </ul>
            <a href="https://github.com/ChrisArcand" class="genericon-sidebar" target="_blank"><div class="genericon genericon-github genericon-sidebar"></div></a>
            <a href="https://twitter.com/chrisarcand" class="genericon-sidebar" target="_blank"><div class="genericon genericon-twitter genericon-sidebar"></div></a>
            <a href="https://www.linkedin.com/in/chrisarcand" class="genericon-sidebar" target="_blank"><div class="genericon genericon-linkedin-alt genericon-sidebar"></div></a>
            <a href="/contact" class="genericon-sidebar"><div class="genericon genericon-mail genericon-sidebar"></div></a>
          </div>
        </div>
      </div>
      <div id="content-wrapper">
        <!--Body content-->
        <div id="content-wrapper-inner">
          <div id="content-container">
            {% block content %}{% endblock %}
            <div style="clear:both;"></div>
          </div>
          <p style="font-size:10px; display: table-row;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>  This work is licensed under a<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"> Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
        </div>
      </div>
    </div>
     
    <!-- Modal -->
    <div id="resume-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="resume-modal-label">My resumé, eh?</h3>
    </div>
    <div class="modal-body">
    <p>My complete resumé is available upon request; I'm afraid I'll need to know a little more about you before I share anything beyond the extensive information already found on this site. </p>
    </div>
    <div class="modal-footer">
    <a href="/contact"><button class="btn btn-primary">Request my resumé</button></a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    </div>
  </body>
</html>
