<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Arcand | Software Developer and Orchestral Clarinetist</title>
    <link href="/static/bootstrap2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="/static/bootstrap2.3.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="nav-container" class="span2">
          <!--Sidebar content-->
          <ul class="nav" data-spy="affix">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
          </ul>
        </div>
        <div class="span10">
          <!--Body content-->
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>