<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Arcand | Software Engineer and Orchestral Clarinetist</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/static/css/genericons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js"></script>

    <meta name="viewport" content="user-scalable=no,width=device-width" />
  </head>

  <body>
    <div id="site-wrapper">
      <div id="sidebar">
        <!--Sidebar content-->
        <div id="cover-img-row">
          {% block cover_img %}{% endblock %}
        </div>
        <div id="nav-container-row">
          <div id="nav-container">
            <span id="avatar-wrapper">
              <a class="fancybox" href="/static/img/avatar5.jpg">
                <img src="/static/img/avatar5.jpg" id="avatar" />
              </a>
            </span>
            <h2 class="sidebar-title">Chris Arcand</h2>
            <p class="sidebar-tagline muted">Software Engineer &amp; Orchestral Clarinetist</p>
            <ul id="nav" class="nav">
              <li><a class="brackets" href="/">Home</a></li>
              <li><a class="brackets" href="/about">About Me</a></li>
              <li><a class="brackets" href="/projects">Projects</a></li>
              <li><a class="brackets" href="/blog">Blog</a></li>
              <li><a class="brackets" href="/resume" target="_blank">Resumé</a></li>
              <li><a class="brackets" href="/contact">Contact Me</a></li>
            </ul>
            <a href="https://github.com/ChrisArcand" class="genericon-sidebar" target="_blank"><div class="genericon genericon-github genericon-sidebar"></div></a>
            <a href="https://twitter.com/chrisarcand" class="genericon-sidebar" target="_blank"><div class="genericon genericon-twitter genericon-sidebar"></div></a>
            <a href="https://www.linkedin.com/in/chrisarcand" class="genericon-sidebar" target="_blank"><div class="genericon genericon-linkedin-alt genericon-sidebar"></div></a>
            <a href="/contact" class="genericon-sidebar"><div class="genericon genericon-mail genericon-sidebar"></div></a>
          </div>
        </div>
      </div>
      <div id="content-wrapper">
        <!--Body content-->
        <div id="content-wrapper-inner">
          <div id="content-container">
            {% block content %}{% endblock %}
            <div style="clear:both;"></div>
          </div>
          <p style="font-size:10px; display: table-row;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>  This work is licensed under a<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"> Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
        </div>
      </div>
    </div>
     
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox({padding : 0});
      });
    </script>

    <!--Google Analytics, because I don't feel like maintaining my own log parser -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41741905-1', 'chrisarcand.com');
      ga('send', 'pageview');
  </script>
  </body>
</html>
